*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#0b0b0b;
    color:white;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* NAVBAR */
.navbar{
    position:fixed;
    width:100%;
    background:rgba(0,0,0,0.9);
    padding:20px 0;
    z-index:1000;
}

.nav-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#ff6600;
    font-size:24px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
}

.btn-crm{
    background:#ff6600;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
}

/* HERO */
.hero{
    min-height:75vh;
    background:url('https://images.unsplash.com/photo-1560185127-6ed189bf02f4') center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
}

.hero-content{
    position:relative;
    z-index:2;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    color:#ddd;
}

.hero-buttons{
    margin-top:30px;
}

.btn-primary,
.btn-secondary{
    display:inline-block;
    padding:14px 25px;
    border-radius:8px;
    text-decoration:none;
    margin:10px;
}

.btn-primary{
    background:#ff6600;
    color:white;
}

.btn-secondary{
    border:1px solid white;
    color:white;
}

/* STATS */
.stats{
    padding:60px 0;
    background:#111;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    text-align:center;
}

/* IMÓVEIS */
.imoveis-section{
    padding:40px 0;
    background:#0d0d0d;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
    margin-top:20px;
}

.card{
    background:#151515;
    border-radius:12px;
    overflow:hidden;
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card-content{
    padding:20px;
}

.card h3{
    color:#ff6600;
}

.botao{
    display:block;
    background:#25d366;
    padding:12px;
    text-align:center;
    color:white;
    text-decoration:none;
    margin-top:15px;
    border-radius:8px;
}

/* PROPRIETÁRIO */
.proprietario-section{
    padding:100px 0;
    text-align:center;
    background:#111;
}

/* FOOTER */
.footer{
    padding:60px 0;
    background:#000;
}

.footer-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.search-box{
    margin-top:30px;
    background:white;
    padding:15px;
    border-radius:12px;
    display:flex;
    gap:10px;
    justify-content:center;
    flex-wrap:wrap;
}

.search-box input,
.search-box select{
    padding:12px;
    border:none;
    border-radius:8px;
    min-width:220px;
}

.search-box button{
    background:#ff6600;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
}
